<!-- <p>edit-stu works!</p> -->
<!-- <h2>Update Student</h2>
<div class="form-group row pb-2">
    <label class="col-sm-2">Student ID</label>
    <div class="col-sm-3">
        <input type="text" class="form-control" [(ngModel)]="updatestudent.StudentId">
    </div>
</div>

<div class="form-group row pb-2">
    <label class="col-sm-2">Student Fullname</label>
    <div class="col-sm-3">
        <input type="text" class="form-control" [(ngModel)]="updatestudent.FullName">
    </div>
</div>

<div class="form-group row pb-2">
    <label class="col-sm-2">Mobile</label>
    <div class="col-sm-3">
        <input type="text" class="form-control" [(ngModel)]="updatestudent.Mobile">
    </div>
</div>

<button (click)="updateStudent()" class="btn btn-primary">
    Update
</button>
<button type="button" class="btn btn-secondary ps-3" (click)="closeClick()">Close</button>


 -->